
<div>
    <fieldset class="region">
        <legend>Region</legend>
        <div id="region">
            <div>
                <a href="/region/city.html?id=10000">Tokyo</a>
                <a href="/region/city.html">City</a>
            </div>
        </div>
    </fieldset>
</div>

<div>
    <fieldset class="title">
        <legend><a href="/house/index.html">House</a></legend>
        <div class="channel">
            <div class="channel_group">
                <fieldset class="channel_panel">
                    <legend><a href="/house/rent.html">Rent</a></legend>
                    <div>
                        <% 
                        if(house_rents){ 
                            house_rents.forEach(item => {
                        %>
                        <div class="channel_item">
                            <a target="_blank" onclick="hit('hid', <%=item.id%>);" href="/house/house.html"><%=item.title%></a>
                            <% 
                                let cdate = new Date(item.create_time);
                             %><%=cdate.getFullYear();%>:<%=("0" + (cdate.getMonth() + 1)).slice(-2);%>:<%=("0" + cdate.getDate()).slice(-2);%> <%=("0" + cdate.getHours()).slice(-2);%>:<%=("0" + cdate.getMinutes()).slice(-2);%>                      
                        </div>
                        <% 
                            });
                        }else{
                        %>
                        <div class="channel_item">
                            <a target="_blank" href="/house/house.html">presentation data,presentation data,presentation data,presentation data,presentation data,presentation data</a>
                        </div>
                        <div class="channel_item">
                            <a target="_blank" href="/house/house.html">11111111111111111111111111111111111111111111111111111111111111111111111111</a>
                        </div>
                        <div class="channel_item">
                            <a target="_blank" href="/house/house.html">presentation data</a>
                        </div>
                        <%}%>
                    </div>
                </fieldset>
            </div>

            <div class="channel_group">
                <fieldset class="channel_panel">
                    <legend><a href="/house/wanted.html">Wanted</a></legend>
                    <div>
                        <% 
                        if(house_wanteds){ 
                            house_wanteds.forEach(item => {
                        %>
                        <div class="channel_item">
                            <a target="_blank" href="/house/house.html"><%=item.title%></a>
                        </div>
                        <% 
                            });
                        }else{ 
                        %>
                        <div class="channel_item">
                            <a target="_blank" href="/house/house.html">presentation data,presentation data,presentation data,presentation data,presentation data,presentation data</a>
                        </div>
                        <div class="channel_item">
                            <a target="_blank" href="/house/house.html">11111111111111111111111111111111111111111111111111111111111111111111111111</a>
                        </div>
                        <div class="channel_item">
                            <a target="_blank" href="/house/house.html">presentation data</a>
                        </div>
                        <%}%>
                    </div>
                </fieldset>
            </div>
        </div>
    </fieldset>
</div>


<div>
    <fieldset class="title">
        <legend><a href="/job/index.html">Job</a></legend>
        <div class="channel">
            <div class="channel_group">
                <fieldset class="channel_panel">
                    <legend><a href="/job/recruit.html">Recruit</a></legend>
                    <div>
                        <% 
                        if(job_recruits){ 
                            job_recruits.forEach(item => {
                        %>
                        <div class="channel_item">
                            <a target="_blank" href="/job/job.html"><%=item.title%></a>
                        </div>
                        <% 
                            });
                        }else{ 
                        %>
                        <div class="channel_item">
                            <a target="_blank" href="/job/job.html">presentation data,presentation data,presentation data,presentation data,presentation data,presentation data</a>
                        </div>
                        <div class="channel_item">
                            <a target="_blank" href="/job/job.html">11111111111111111111111111111111111111111111111111111111111111111111111111</a>
                        </div>
                        <div class="channel_item">
                            <a target="_blank" href="/job/job.html">presentation data</a>
                        </div>
                        <%}%>
                    </div>
                </fieldset>
            </div>

            <div class="channel_group">
                <fieldset class="channel_panel">
                    <legend><a href="/job/wanted.html">Wanted</a></legend>
                    <div>
                        <% 
                        if(job_wanteds){ 
                            job_wanteds.forEach(item => {
                        %>
                        <div class="channel_item">
                            <a target="_blank" href="/job/job.html"><%=item.title%></a>
                        </div>
                        <% 
                            });
                        }else{ 
                        %>
                        <div class="channel_item">
                            <a target="_blank" href="/job/job.html">presentation data,presentation data,presentation data,presentation data,presentation data,presentation data</a>
                        </div>
                        <div class="channel_item">
                            <a target="_blank" href="/job/job.html">11111111111111111111111111111111111111111111111111111111111111111111111111</a>
                        </div>
                        <div class="channel_item">
                            <a target="_blank" href="/job/job.html">presentation data</a>
                        </div>
                        <%}%>
                    </div>
                </fieldset>
            </div>
        </div>
    </fieldset>
</div>


<div>
    <fieldset class="title">
        <legend><a href="/trading/index.html">Trading</a></legend>
        <div class="channel">
            <div class="channel_group">
                <fieldset class="channel_panel">
                    <legend><a href="/trading/sell.html">Sell</a></legend>
                    <div>
                        <% 
                        if(trading_sells){ 
                            trading_sells.forEach(item => {
                        %>
                        <div class="channel_item">
                            <a target="_blank" href="/trading/trading.html"><%=item.title%></a>
                        </div>
                        <% 
                            });
                        }else{ 
                        %>
                        <div class="channel_item">
                            <a target="_blank" href="/trading/trading.html">presentation data,presentation data,presentation data,presentation data,presentation data,presentation data</a>
                        </div>
                        <div class="channel_item">
                            <a target="_blank" href="/trading/trading.html">11111111111111111111111111111111111111111111111111111111111111111111111111</a>
                        </div>
                        <div class="channel_item">
                            <a target="_blank" href="/trading/trading.html">presentation data</a>
                        </div>
                        <%}%>
                    </div>
                </fieldset>
            </div>

            <div class="channel_group">
                <fieldset class="channel_panel">
                    <legend><a href="/trading/buy.html">Buy</a></legend>
                    <div>
                        <% 
                        if(trading_buys){ 
                            trading_buys.forEach(item => {
                        %>
                        <div class="channel_item">
                            <a target="_blank" href="/trading/trading.html"><%=item.title%></a>
                        </div>
                        <% 
                            });
                        }else{ 
                        %>
                        <div class="channel_item">
                            <a target="_blank" href="/trading/trading.html">presentation data,presentation data,presentation data,presentation data,presentation data,presentation data</a>
                        </div>
                        <div class="channel_item">
                            <a target="_blank" href="/trading/trading.html">11111111111111111111111111111111111111111111111111111111111111111111111111</a>
                        </div>
                        <div class="channel_item">
                            <a target="_blank" href="/trading/trading.html">presentation data</a>
                        </div>
                        <%}%>
                    </div>
                </fieldset>
            </div>
        </div>
    </fieldset>
</div>



<div>
    <fieldset class="title">
        <legend><a href="/exchange/index.html">Exchange</a></legend>
        <div class="channel">
            <div class="channel_group">
                <fieldset class="channel_panel">
                    <legend><a href="/exchange/index.html">Exchange</a></legend>
                    <div>
                        <% 
                        if(exchanges){ 
                            let i = 0;
                            exchanges.forEach(item => {
                                if(3 <= i){
                                    return;
                                }else{
                                    i++;
                                }
                        %>
                        <div class="channel_item">
                            <a target="_blank" href="/exchange/exchange.html"><%=item.title%></a>
                        </div>
                        <% 
                            });
                        }else{ 
                        %>
                        <div class="channel_item">
                            <a target="_blank" href="/exchange/exchange.html">presentation data,presentation data,presentation data,presentation data,presentation data,presentation data</a>
                        </div>
                        <div class="channel_item">
                            <a target="_blank" href="/exchange/exchange.html">11111111111111111111111111111111111111111111111111111111111111111111111111</a>
                        </div>
                        <div class="channel_item">
                            <a target="_blank" href="/exchange/exchange.html">presentation data</a>
                        </div>
                        <%}%>
                    </div>
                </fieldset>
            </div>

            <div class="channel_group">
                <fieldset class="channel_panel">
                    <legend><a href="/exchange/index.html">Exchange</a></legend>
                    <div>
                        <% 
                        if(exchanges){ 
                            let i = 0;
                            exchanges.forEach(item => {
                                if(3 > i){
                                    i++;
                                }else{
                                    i++;
                                    %>
                                    <div class="channel_item">
                                        <a target="_blank" href="/exchange/exchange.html"><%=item.title%></a>
                                    </div>
                                    <% 
                                }
                            });
                        }else{ 
                        %>
                        <div class="channel_item">
                            <a target="_blank" href="/exchange/exchange.html">presentation data,presentation data,presentation data,presentation data,presentation data,presentation data</a>
                        </div>
                        <div class="channel_item">
                            <a target="_blank" href="/exchange/exchange.html">11111111111111111111111111111111111111111111111111111111111111111111111111</a>
                        </div>
                        <div class="channel_item">
                            <a target="_blank" href="/exchange/exchange.html">presentation data</a>
                        </div>
                        <%}%>
                    </div>
                </fieldset>
            </div>
        </div>
    </fieldset>
</div>